<html>
<head></head>
<body>

  <form action="/add-trip" method="POST" enctype="multipart/form-data">
   <label for="title">Trip Name</lablel>
   <input type="text" name="title" placeholder="Trip Name" />
   <label for="image">Choose a Picture</label>
   <input type="file" name="image" />
   <label for="dateDepart">Departure Date</label>
   <input type="date" name="dateDepart" />
   <label for="dateReturn">Return Date</label>
   <input type="date" name="dateReturn" />
   <button type="submit">Save</button>
  </form>

</body>
</html>
