<html>
<head></head>
<body>

  <button type="button"><a href="/add-trip">Add a Trip</a></button>

<h1>Trips</h1>
<ul>
  {{#tripList}}
  <li>
    <img src='{{image}}' height="200px" width="auto"/>
    <span>{{title}} - {{image}} - {{dateDepart}} - {{dateReturn}}</span>
    <button id="deleteTrip">Delete</button>
  </li>
  {{/tripList}}
</ul>
</body>
</html>
